.visualAreaWrapper {
    width: 220px;
    height: 198px;
    border: 1px solid black;
    overflow: hidden;
}

#visualArea {
    width: 100%;
}
.visualAreaWrap{
    width: 220px;
    height: 198px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.visualArrayItem {
    width: 20px;
    height: 20px;
    border: 1px solid darkred;
    display: block;
    position: absolute;
    -webkit-transition: all 7s ease-out 0.5s;
    -moz-transition: all 7s ease-out 0.5s;
    -o-transition: all 7s ease-out 0.5s;
    transition: all 7s ease-out 0.5s;
}

#inputs {
    display: inline-block;
}